[submodule "third_party/godot-xr-tools"]
	path = third_party/godot-xr-tools
	url = https://github.com/godotvr/godot-xr-tools.git
	branch = master
	ignore = all
[submodule "xr/native/ahb_decoder/godot-cpp"]
	path = xr/native/ahb_decoder/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
    ignore = all
