<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="horizonos.permission.HEADSET_CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.QuestCapturePlugin"
            android:value="com.spatialmp4.questcapture.QuestCapturePlugin" />
    </application>
</manifest>
